.paginator {
  @include flex-center;
  flex-wrap: wrap;
  padding: 20px 0 40px;

  &__number {
    padding: 0 20px;
    font-size: 3rem;

    span {
      font-size: 2rem;
    }
  }

  &__button {
    font-size: 1.8rem;
    color: $black;
    font-weight: bold;
    background-color: $white;
    border: 1px solid $black;
    padding: 10px 20px;

    &:hover {
      background-color: $black;
      color: $white;
    }

    &:disabled {
      background-color: $gray3;
      cursor: not-allowed;
      color: white;
      border: none;
    }
  }
}