.header {
  @include flex-between;
  flex-wrap: wrap;
  min-height: 100px;
  width: 100%;
  padding: 20px;
  background-color: $white;
  box-shadow: 0px 3px 6px #00000015;

  &__title {
    font-size: 3.5rem;
    padding: 10px 0;
  }
}